@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #ffd659;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    padding: 0 1em;
}

header img {
    width: 100%;
    height: 220px;
}

header .container {
    text-align: center;
}


main .container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

main .container p {
    text-align: center;
    width: 12em;
    font-size: 1em;
    font-weight: 600;
}

.mainshopcontainer {
    display: flex;
}

.col2 {
    padding-top: 2em;
    margin-right: -1em;
}

.col1 {
    margin-left: -1em;
}
.col2 img {
    margin-bottom: .5em;
}

.col1 img {
    width: 110%;
    margin-bottom: 1em;
}

.enough {
    width: 100%;
}



.wrapper {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.needbig {
    width: 113%;
    margin-left: -2em;
} 

.lastshop img {
    width: 54%;
}

.lastshop {
    text-align: center;
    margin-top: -2em;
}

.shops img {
    width: 100%;
}

.shops {
    text-align: center;
}

.bee {
    width: 60px;
    position: absolute;
}



.twobee {
    top: 26%;
    left: 43%;
    transform: scaleX(-1) rotate(30deg);
}

.threebee {
    top: 44%;
    right: 0;
    transform: rotate(30deg);
}

.fourbee {
    top: 55%;
    left: 0%;
    transform: scaleX(-1) rotate(30deg);
}

.fivebee {
    top: 75%;
    right: 3%;
    transform: rotate(30deg);
}

.sixbee {
    top: 80%;
    left: 3%;
    transform: scaleX(-1) rotate(30deg);

}

.container1 {
    padding-bottom: 2em;
}